{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DevFolio Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">PORVENIR</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">CAMPAÑAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">POYECTOS SOCIALES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">DISTINCIONES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/porvenir.jpeg' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Fundación Porvenir Voces Libres</h1>
          <p class="intro-subtitle"><span class="text-slider-items">O.N.G. ,Cochabamba Bolivia,Colaborando con un mundo mejor,Proyectos Sociales,Apoyando a la comunidad</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nombre: </span> <span>Morgan Freeman</span></p>
                      <p><span class="title-s">Cargo: </span> <span>full stack developer</span></p>
                      <p><span class="title-s">Email: </span> <span>contact@example.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p>
                    </div>
                  </div>
                </div>

                <div class="title-box-2">
                    <h5 class="title-left">
                      HISTORIA
                    </h5>
                  </div>
                  <p class="lead">
                    Fundación “PORVENIR VOCES LIBRES” es una organización sin fines de lucro, fundada la fecha 21 de marzo del año 2005, con personería jurídica Nº 0422/05, situada en la ciudad de Cochabamba, Bolivia.
Fundación “PORVENIR VOCES LIBRES” nace con la misión de BRINDAR APOYO SOCIAL, PROMOVER Y LLEVAR ADELANTE PROYECTOS DE DESARROLLO SOSTENIBLE IMPLUSANDO Y FOMENTANDO CAPACIDADES PROPIAS DE LAS COMUNIDADES PARA SU DESARROLLO SOCIAL Y ECONOMICO APOYADO EN PROGRAMAS DE EDUCACION TECNICA Y AMBIENTAL A LA POBLACION EN GENERAL. Fundamentada en valores que prioriza la ética, la solidaridad, la responsabilidad y el respeto, asi también fortalece las capacidades propias de cada región, con el propósito de potenciar, empoderar e impulsar a las comunidades para que alcancen un desarrollo Economico y Social.
Apoyado en proyectos educativos.
Fundacion “PORVENIR VOCES LIBRES” lleva adelante el proyecto “ABRIENDO NUESTRAS PUERTAS”, cuyo principal objetivo es el promover y llevar adelante proyectos de desarrollo social y económico en comunidades y áreas periurbanas de nuestro país, apoyados en programas de edcuacion técnica y ambiental a la población en general.
Desde 2005, y año a año, fundación “PORVENIR VOCES LIBRES”, ha colaborado a la población de Bolivia mediante programas, conferencias, planes y proyectos con el objetivo de desarrollar y promover en estas comunidades la educación sobre los derechos humanos, el liderazgo responsable y la igualdad de oportunidades para promover la tranformacion humana en el país.
Fundación “PORVENIR VOCES LIBRES” es una organozacion no gubernamental sin fines de lucro, con profesionales educadores y voluntarios locaes e internaciones. Para seguir con nuestros proyectos y desarrollar nuestras actividades, necesitamos apoyo financiero, oluntarios y nuevos socios. La felicidad y el bienestar de nuestros jóvenes dependen de las generosas contribucuines de nuestros donantes y socios, y sobre todo del trabajp de los voluntarios apasionados y motivados.
En 2008, fundación “PORNENIR VOCES LIBRES” inauguro sus dos nuevas sucursales en las ciudades de La Paz el mes de marzo, y en la ciudad de Santa Cruz el mes de agosto; contribuyendo de manera especial y dirigida a comunidades desfavorecidas de las afueras de la ciudad, donde trabajamos todos los días de lunes a viernes todo el dia.

                  </p>


              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      ¿Quienes somos?
                    </h5>
                  </div>
                  <p class="lead">
                    Somos una Fundación sin fines de lucro, con Personería Jurídica Nº 0422/05 con la finalidad de promover y elevar el indica de Desarrollo Humano en el Estado Plurinacional de Bolivia, impulsamos proyectos en diferentes áreas, la Fundación “PORVENIR VOCES LIBRES” tiene como fines, promover y llevar adelante proyectos de desarrollo sostenible impulsando y fomentando capacidades propias de la comunidad para su desarrollo social y económico apoyado en programas de educación técnica y ambiental a la población en general.
                  </p>
                  <div class="title-box-2">
                    <h5 class="title-left">
                      MISIÓN
                    </h5>
                  </div>
                  <p class="lead">
                    Fundación “PORVENIR VOCES LIBRES” tiene la MISIÓN de potenciar, empoderar e impulsar a las comunidades y áreas periurbanas, apoyados en sus propias potencialidades, protegiendo el Medio Ambiente apoyados en la educación técnica, social.
                  </p>
                  <div class="title-box-2">
                    <h5 class="title-left">
                      VISIÓN
                    </h5>
                  </div>
                  <p class="lead">
                    Tenemos como VISION alcanzar el mayor indicie de Desarrollo Humano dentro de las poblaciones que comprenden las comunidades y áreas periurbanas del sector del Valle Alto, Bajo y el Chapare. Generando iniciativas de alcance productivo, social en concordancia con el ecosistema a la población en general, acreditada en un modelo humano e innovador que responda a las demandas sociales de carácter inclusivo y participativo a nivel nacional e internacional, siendo verdaderos lideres de cambio y modelos de integridad en un modelo que responda a las demandas sociales del sector.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              HECHOS, CAMPAÑAS Y PROYECTOS DESTACABLES
            </h3>
            <p class="subtitle-a">
              Los proyectos, hechos y campañas destacables de la fundación porvenir son las siguientes...
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2005</h2>
              <p class="s-description text-center">
                Creación oficial de la fundación Porvenir Voces Libres.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2006</h2>
              <p class="s-description text-center">
                Primera Campaña de alfabetizacion realizada en Cercado de la ciudad de Cochabamba con apoyo de la Gobemación de Cochabamba e Instituciones Públicas del departmento.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2006</h2>
              <p class="s-description text-center">
                Primer proyecto de eeconocimiento a Bachilleres de excelencia cofinanciado otorgado por la Comunidad Europea en Francia.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2006</h2>
              <p class="s-description text-center">
                Obtención de los primeros Convenios Inter-Institucionales entre Ia Fundación PORVENIR VOCES LIBRES con el Instituto Cien, y el Instituto Técnico Nacional "Andres Bello- en la Ciudad de Cochabamba.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2007</h2>
              <p class="s-description text-center">
                Proyecto "Formación de jóvenes competentes para una vida digna como personas, familias y comunidades.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2007</h2>
              <p class="s-description text-center">
                Firma de convenio de Cooperacion de la Fundacion "PORVENIR VOCES LIBRES" con la Universidad Tecnica Privada Cosmos UNITEPC.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2007</h2>
              <p class="s-description text-center">
                Reconocimiento de la Cámara de Diputados de la Asamblea Legislativa Plurinacional de Bolivia a la Fundación "PORVENIR VOCES LIBRES", por el apoyo constante a la juventud para su formacion técnica.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2008</h2>
              <p class="s-description text-center">
                Primera campaña contra el hambre con colectas en Unidades Educativas e Instituciones en Apoyo a las Comunidades desfavorecidas del departmento de Cochabamba.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2008</h2>
              <p class="s-description text-center">
                Inauguración de la nueva sucursal de Fundacion "PORVENIR VOCES LIBRES" en la ciudad de La Paz.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2008</h2>
              <p class="s-description text-center">
                Inauguración de la nueva sucursal de Fundacion "PORVENIR VOCES LIBRES" en la ciudad de Santa Cruz.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2009</h2>
              <p class="s-description text-center">
                Se crean los cinco sectores de proyectos: Educativo, sanitario, agrícola, social y promoción a la mujer.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2009</h2>
              <p class="s-description text-center">
                Primera exposición: Importancia de la educación para el desarrollo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2009</h2>
              <p class="s-description text-center">
                Campaña y marcha en contra de la violencia para la iniciativa "Un día de Guerra para La Paz".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2009</h2>
              <p class="s-description text-center">
                Reconocimiento otorgado por la Unidad Educativa del Ejército "Héroes del Chaco" por la relevante y comprometida labor en beneficio de la juventud estudiosa del establecimiento educativo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2009</h2>
              <p class="s-description text-center">
                Titulación de los primeros estudiantes egresados de las carreras de Fisioterapia, Turismo y Hotelería, Trabajo Social y Enfermería bajo los convenios Inter Institucionales firmados con la FUNDACION "PORVENIR VOCES LIBRES".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2009</h2>
              <p class="s-description text-center">
                Convenio de cooperación Educativa con el "Instituto Técnico Domingo Savio" del departamento de Tarija.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2011</h2>
              <p class="s-description text-center">
                Firma de primer convenio ínter Institucional en la ciudad de Santa Cruz con el "Instituto Técnico San Pablo del Oriente".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2012</h2>
              <p class="s-description text-center">
                Firma de Segundo Convenio Inter Institucional en la ciudad de Santa Cruz con el "Instituto Técnico Domingo Savio".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2012</h2>
              <p class="s-description text-center">
                Firma de convenio de Cooperación Académica con la "Universidad Privada de Oruro UNIOR".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2013</h2>
              <p class="s-description text-center">
                Proyecto "Educación emprendedora y Técnico productiva para adolescentes trabajadores" Programado para una duración de 3 años.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2013</h2>
              <p class="s-description text-center">
                Reconocimiento de la Brigada de Asambleístas Plurinacional de Cochabamba, otorgado a la FUNDACIÓN "PORVENIR VOCES LIBRES" en reconocimiento al: "Merito Institucional".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2014</h2>
              <p class="s-description text-center">
                Proyecto "Cursos cortos de emprendimiento" llevado a cabo gracias al apoyo de diferentes industrias y empresas comprometidas con el apoyo a jóvenes emprendedores, destinado a jóvenes universitarios en el marco de "Formación de jóvenes competentes para una vida digna como personas".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2014</h2>
              <p class="s-description text-center">
                Firma Segundo convenio Inter Institucional con la "Universidad Técnica de Oruro".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2015</h2>
              <p class="s-description text-center">
                Presentación del Proyecto de Iniciativa "Educación Básica".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2016</h2>
              <p class="s-description text-center">
                Exposición Internacional "Construcción Participativa e Inclusiva para vivir bien".
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2016</h2>
              <p class="s-description text-center">
                Proyecto de transformación de la Educación Secundaria..
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">2016</h2>
              <p class="s-description text-center">
                Distinción otorgada por la fundación Padre Adolfo Kolping tiene como objetivo reconocer a aquellas instituciones que hayan realizado acciones para el mejoramiento de las condiciones de vida de la comunidad y estimular el espíritu solidario.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <div class="section-counter paralax-mf bg-image" style="background-image: url({% static 'img/porvenir.jpeg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">450</p>
              <span class="counter-text">TRABAJOS COMPLETADOS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">15</p>
              <span class="counter-text">AÑOS DE EXPERIENCIA</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">550</p>
              <span class="counter-text">TOTAL DE CLIENTES</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">9</p>
              <span class="counter-text">PREMIOS OBTENIDO</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Proyectos de apoyo social
            </h3>
            <p class="subtitle-a">
              Nos debemos a nuestra comunidad.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/101.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/101.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Uno</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/102.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/102.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Loreda Cuno Nere</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/103.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/103.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Mavrito Lana Dere</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/104.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/104.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Bindo Laro Cado</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/105.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/105.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Lena Mado</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/106.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/106.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/107.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/107.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/108.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/108.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/109.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/109.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/110.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/110.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/111.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/111.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/112.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/112.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/113.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/113.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/114.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/114.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/115.jpeg' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/115.jpeg' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Studio Big Bang</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <!--/ Section Testimonials Star /-->
  <div class="testimonials paralax-mf bg-image" style="background-image: url({% static 'img/porvenir.jpeg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box">
              <div class="author-test">
                <img src="img/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Xavi Alonso</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
            <div class="testimonial-box">
              <div class="author-test">
                <img src="img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Marta Socrate</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              RECONOCIMIENTOS Y DISTINCIONES
            </h3>
            <p class="subtitle-a">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">RECONOMIENTO</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">ASAMBLEA LEGISLATIVA PLURINACIONAL DE BOLIVIA</a></h3>
              <p class="card-description">
                RECONOCIMIENTO DE LA CÁMARA DE DIPUTADOS DE LA ASAMBLEA LEGISLATIVA PLURINACIONAL DE BOLIVIA A LA FUNDACIÓN "PORVENIR VOCES LIBRES", POR EL APOYO CONSTANTE A LA JUVENTUD PARA SU FORMACION TÉCNICA..
              </p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">RECONOCIMIENTO</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">SUB ALCALDIA COMUNA TUNARI</a></h3>
              <p class="card-description">
                RECONOCIMIENTO A LA FUNDACION "PORVENIR VOCES LIBRES" OTORGADO POR LA SUB ALCALDIA COMUNA TUNARI POR SU VALIOSO APOYO Y PATROCINIO QUE HIZO POSIBLE LA IRA. EDICION DE LA CARRERA: "POR UN MUNDO SIN DROGAS".
              </p>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">DISTINCIÓN</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">***</a></h3>
              <p class="card-description">
                DISTINCION OTORGADA A LA FUNDACION "PORVENIR VOCES LIBRES" EN RECONOCIMIENTO AL CONSTANTE APOYO A LA EDUCACION Y FORMACION SUPERIOR DE JOVENES DE ESCASOS RECURSOS.
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">RECONOCIMIENTO</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">UNIDAD EDUCATIVA DEL EJÉRCITO "HEROES DEL CHACO"</a></h3>
              <p class="card-description">
                RECONOCIMIENTO OTORGADO POR LA UNIDAD EDUCATIVA DEL EJÉRCITO "HEROES DEL CHACO" POR LA RELEVANTE Y COMPROMETIDA LABOR EN BENEFICIO DE LA JUVENTUD ESTUDIOSA DEL ESTABLECIMIENTO EDUCATIVO.
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">DISTINCIÓN</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">ALCALDIA MUNICIPAL DE COCHABAMBA</a></h3>
              <p class="card-description">
                DISTINCIÓN OTORGADA POR LA HONORABLE ALCALDIA MUNICIPAL DE COCHABAMBA A LA FUNDACION "PORVENIR VOCES LIBRES", EN RECONOCIMIENTO AL DESARROLLO DE PROYECTOS EN FAVOR DE LA COMUNIDAD.
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">RECONOCIMIENTO</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">CÁMARA DE DIPUTADOS DE LA ASAMBLEA LEGISLATIVA PLURINACIONAL</a></h3>
              <p class="card-description">
                RECONOCIMIENTO DE LA CÁMARA DE DIPUTADOS DE LA ASAMBLEA LEGISLATIVA PLURINACIONAL DE BOLIVIA A LA FUNDACIÓN "PORVENIR VOCES LIBRES", POR SU CONSTANTE E INVALUABLE SERVICIO A LA EDUCACIÓN SUPERIOR.
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">RECONOCIMIENTO</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">BRIGADA DE ASAMBLEISTAS PLURINACIONALES DE COCHABAMBA</a></h3>
              <p class="card-description">
                RECONOCIMIENTO DE LA BRIGADA DE ASAMBLEISTAS PLURINACIONALES DE COCHABAMBA, OTORGADO A LA FUNDACIÓN "PORVENIR VOCES LIBRES" EN RECONOCIMIENTO AL: "MERITO INSTITUCIONAL".
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">RECONOCIMIENTO</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">SECRETARÍA DE LA GOBERNACIÓN</a></h3>
              <p class="card-description">
                RECONOCIMIENTO DE LA SECRETARÍA DE LA GOBERNACIÓN OTORGADO A LA FUNDACIÓN "PORVENIR VOCES LIBRES" POR SU COMPROMISO INSTITUCIONAL Y SU VALIOSA COLABORACIÓN PARA EL DESARROLLO EN BENEFICIO DE LOS MUNICIPIOS DE COCHABAMBA.
              </p>
            </div>

          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">

            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">DISTINCIÓN</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="blog-single.html">FUNDACIÓN PADRE ADOLFO KOLPING</a></h3>
              <p class="card-description">
                DISTINCIÓN OTORGADA POR LA FUNDACIÓN PADRE ADOLFO KOLPING TIENE COMO OBJETIVO RECONOCER A AQUELLAS INSTITUCIONES QUE HAYAN REALIZADO ACCIONES PARA EL MEJORAMIENTO DE LAS CONDICIONES DE VIDA DE LA COMUNIDAD Y ESTIMULAR EL ESPIRITU SOLIDARIO.
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/porvenir.jpeg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>
                  </div>
                  <div>
                      <form action="" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                      expedita aperiam aliquid at.
                      Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                      mollitia inventore?
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> 329 WASHINGTON ST BOSTON, MA 02108</li>
                      <li><span class="ion-ios-telephone"></span> (617) 557-0089</li>
                      <li><span class="ion-email"></span> contact@example.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/counterup/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/typed/typed.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
